.hero {
    position: relative;
    padding:60px 0 120px;
    background-color:  #014E56;
     background-image: url("../images/about_herobgimg.png");
     background-repeat: no-repeat;
     background-size: 200px;
     background-position: calc(50% + 710px) bottom;
     &::before{
         display: none;
         content: " ";
     }
     &::after{
         display: none;
         content: " ";
         }
}

.hero__inner {
    @include flex-starter;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.hero__title{
    @include title-text-global;
    padding-right: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}

.hero__spann {
    color:#F67E7E;
}

.hero__content {
    width: 100%;
    max-width: 730px;
    text-align: start;
}

.hero__div{
    display: block;
    text-align: left;
}

.hero__span {
    display: inline-block;
    margin-bottom: 40px;
    width: 50px;
    height: 4px;
    background-color:  #F67E7E;
}

.hero__text {
    @include title-text-global;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@media only screen and (max-width:1125px){
    .hero__inner{
        justify-content: start;
    }
    .hero__title{
        margin-right: auto;
        padding: 0;
    }
}

@media only screen and (max-width:1116px)
{
    .hero::after{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width:985px) and ( min-width:768px){
   
    .hero__content{
        width: 100%;
        max-width: 380px;
    }
    .hero__span{
        margin-bottom: 20px;
    }
    .hero__title{
        font-size: 60px;

    }
    .hero__text{
        font-size: 14px;
    }
}

@media only screen and (max-width:768px ){

    .hero{
        padding: 48px 0 256px;
        background-position: calc(50% + 390px) bottom;
    }

    .hero__inner{
        flex-direction: column;
        text-align: center;
    }
    .hero__div{
        display: none;
    }
    
    .hero__title{
        display: block;
        max-width: 683px;
        font-size: 64px;
        line-height: 56px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }
    .hero__spann{
        font-size: 64px;
        line-height: 56px;
    }

    .hero__content{
        max-width: 457px;
        margin: 0 auto;
    }
    .hero__text{
        text-align: center;
        font-size: 15px;
        line-height: 28px;
    }
}

@media only screen and (max-width:576px){

    .hero{
        padding: 32px 0 197px;
        background-position: calc(50% + 290px) calc(50% + 200px);
    }

    .hero__title{
        max-width: 327px;
        max-height: 80px;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .hero__spann{
        font-size: 40px;
        line-height: 40px;
    }

    .hero__text{
        font-size: 15px;
        line-height: 28px;
    }
}