.referens {
    padding: 140px 0;
    background-color: #012F34;
    background-image: url("../images/photo_2022-05-13_00-53-25.png ");
    background-repeat: no-repeat;
    background-position: calc(50% + 700px) bottom;

}   

.referens__inner{
    @include flex-starter;
    align-items: flex-start;
    justify-content:space-between;
}

.referens__content {
    width: 100%;
    max-width: 445px;
}

.referens__line {
    display: inline-block;
    width: 100%;
    max-width: 50px;
    height: 4px;
    background-color: #F67E7E;
}

.referens__heading {
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.referens__list {
    @include list-global;
    width: 100%;
    max-width: 540px;
    padding-top: 54px;
    padding-left: 95px;
}

.list__item {
    @include list-global;
    position: relative;
    margin-bottom: 32px;
}

.list__item::before{
    position: absolute;
    top: 0;
    left: -100px;
    width: 72px;
    height: 72px;
    background-image: url(../images/middle-children.svg);
    content: ""
}

.list__item:nth-child(2)::before{
    background-image: url(../images/middle-diagramm.svg);
}

.list__item:nth-child(2)::before{
    background-image: url(../images/middle-setting.svg);
}

.list__heading {
    @include title-text-global;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.list__text {
    @include title-text-global;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}


@media only screen and (max-width:768px ){
    .referens{
        padding: 100px 0;
        background-position: right top;
    }

    .referens__inner{
        flex-direction: column;
        padding-left: 50px;
    }

    .referens__line{
        margin-bottom: 32px;
    }

    .referens__heading{
        font-size: 32px;
        line-height: 32px;
        text-align-last: left;
        margin-bottom: 64px;
    }

    .list__heading{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .list__text{
        font-size: 15px;
        line-height: 25px;
    }

}

@media only screen and (max-width:576px ){
    .referens{
        padding: 64px 0;
        background-position:  right top;
    }

    .referens__inner{
        flex-direction: column;
        padding: 0;
        
    }

    .referens__line{
        margin-bottom: 32px;
    }

    .referens__heading{
        max-width: 240px;
        font-size: 32px;
        line-height: 32px;
        text-align-last: left;
        margin-bottom: 56px;
    }

    .referens__list{
        padding: 0;
        flex-direction: column;
    }

    .list__item{
        padding-top: 88px;
        margin-bottom: 48px;
        text-align: center;
    }

    .list__item::before{
        left: 50% ;
        // right: 0;
    }

    .list__heading{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .list__text{
        font-size: 15px;
        line-height: 25px;
        mix-blend-mode: normal;
        opacity: 0.8;
    }

}